.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin-top: 5%;
    margin-bottom: 5%;
}

.btn-gr {
    margin-left: 35%;
    margin-right: 35%;

  }