.letter{
    color: black;
    margin-top: 12em;
    margin-left:20em;
    margin-right:10em;

}

.letter:hover{
    color: rgb(75, 75, 75);
    text-decoration: underline;

}

.paragraph{
    color: black;
}